body {
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.login-box {
  margin-top: 120px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background: #9b00ff;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.card {
  background: #111;
  margin: 15px auto;
  padding: 15px;
  width: 260px;
  border-radius: 10px;
  box-shadow: 0 0 10px #7a00ff;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #7a00ff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  margin: 5px;
}
